<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      {% block title %}

      {% endblock %}
    </title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/stylesheet.css') }}"/>
  </head>
  <body>
    <div class="header">
      <div class="header-logo">TODO List</div>
      <ul>
        <li class="header-history">History</li>
      </ul>
    </div>

    <div class="main">
      <div class="copy-container">
        <h1>Well, hello people<span>!</span></h1>
      </div>

      {% block content %}

      {% endblock %}
    </div>

    <div class="footer">
      <h2 class="made-with">
        Made with <svg height="50" viewBox="0 0 24 24" width="50"><path d="M12,21.35L10.55,20.03C5.4,15.36 2,12.27 2,8.5C2,5.41 4.42,3 7.5,3C9.24,3 10.91,3.81 12,5.08C13.09,3.81 14.76,3 16.5,3C19.58,3 22,5.41 22,8.5C22,12.27 18.6,15.36 13.45,20.03L12,21.35Z" fill="#B71C1C"></path></svg> by <a href="https://www.instagram.com/fadhlanhasyim/" target="_blank">Fadhlan</a>
      </h2>
    </div>
  </body>
</html>